@media (min-width: 1000px) {
    
    body{
       outline: green solid 1px;
       display: flex;
       flex-direction: row; 
       font-family: 'Open Sans', Arial;
       margin: 0;

    }

    #navbar{
        border-right: solid;
        border-color: rgba(0,22,22,0.4);
        height: 100vh;
        width: 300px;
        display: flex;
        flex-direction: column;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;

    }
    
    header{
        font-size: 26px;
        font-weight: 530;
        text-align: center;
        margin: 0;
        /* border: magenta solid 1px; */
    }

    #navbar{
        border-right: solid;
        border-color: rgba(0,22,22,0.4);
        height: 100vh;
        width: 300px;
        /* border: pink solid 1px; */
        display: flex;
        flex-direction: column;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;

    }

    #navbar hr{
        width: 295px;
        
    }

    #navbar a{
        /* border: magenta solid 1px; */
        display: inline-block;
        vertical-align: middle;
        padding-left: 40px;
        color: #4d4e53;
        padding-bottom: 2px;
        padding-top: 2px;
        
    }

    main{
        outline: pink solid 1px;
        flex-grow: 1;   /*To take all avaible remaining space*/
        /* width: 100vw; */
    }

    .main-section header{
        text-align: left;
    }

    .main-section {
        width: 70vw;
        margin-left: 3vw;
    }

    .main-section p, ul {
        margin-left: 1vw;
        color: #4d4e53;
    }

    .main-section p ul, li{
        /* outline: green solid 1px; */
        margin-bottom: 2vh;
    }

  }
  